.projects-container {
  background: var(--secondary);

  width: 78vw;
  height: 64vh;

  margin-top: 6vh;
  margin-left: 4vw;

  border-radius: 15px;

  padding: 5vh 6vw;

  position: relative;

  z-index: 10;
}

.projects-container>div {
  background: var(--bg-color);

  position: absolute;

  color: #c6d0f5;

  border-radius: 15px;
}

.projects-container>div:not(.floater) {
  box-shadow: 10px 10px 30px rgb(0, 0, 0, .4), -10px -10px 30px rgb(0, 0, 0, .6);
  opacity: 0.8;

  top: 3.5vh;

  width: 32vw;
  height: 66vh;
}

.prev {
  left: 3vw;
}

.next {
  right: 3vw;
}

.floater {
  left: 27vw;
  top: 2.5vh;

  height: 66vh;
  width: 36vw;

  z-index: 11;
  box-shadow: 10px 10px 30px rgb(0, 0, 0, .4), -10px -10px 30px rgb(0, 0, 0, .8);

  display: grid;
  grid-template-columns: 4vw 1fr 4vw;
  grid-template-rows: 1fr;
}

.floater>button {
  background: transparent;
  border: none;

  transition: all 0.3s ease-out;
}

.floater>button:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.floater>button:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.floater>button:hover {
  background: rgb(0, 0, 0, .2);
  cursor: pointer;
}

.floater img {
  width: 30px;
  height: 30px;
}

.projectData {
  text-align: center;
}
