.main-container {
  width: 85vw;
  height: 77vh;

  margin-left: 6.5vw;
  margin-top: 5vh;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4fr 1fr 4fr;

  gap: 2vh 1vw;

  color: var(--bg-color);
}

.main-container>div {
  display: grid;

  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: var(--secondary);

  border-radius: 15px;

}

.main-container>div:nth-child(3),
.main-container>div:first-child {
  grid-row: span 2;
}

.experience {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;

  padding: 1vh 3vw;
}

.experience h2 {
  font-size: 3vh;
}

.experience h3 {
  font-size: 2vh;
}

.experience-div {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;

  margin-top: vh;
}

.experience-div>div {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
}

.experience-div>div h3:first-child {
  text-align: left;
}

.experience-div>div h3:last-child {
  text-align: right;
}

.experience p {
  margin-left: 2.5vw;
  margin-right: 5vw;

  text-align: left;
}

.descr {
  font-size: 2vh;

  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;

  padding: 7vh 2.5vw;
}

.education {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;

  padding: 2vh 5vw;
}

.education>h2 {
  font-size: 3vh;
}

.education>div {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
}

.education>div>div {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr;
}

.education>div>div *:last-child {
  text-align: right;
}

.education>div>div *:first-child {
  text-align: left;
}

.education>div>div:last-child {
  text-align: left;
  margin-left: 1vw;
  font-size: 1.75vh;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

@media (max-width:900px) {
  .experience-div p {
    display: none;
  }

  .main-container h2 {
    font-size: 2.5vh;
  }

  .experience h3 {
    font-size: 1.5vh;
  }

  .main-container {
    width: 96vw;
    margin-left: 1vw;

    gap: 1vh 1vh;
  }

  .descr p {
    font-size: 1.5vh;
  }
}

@media (max-width:600px) {
  .main-container {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;

    margin-bottom: 30vh;
  }

  .main-container>div:nth-child(3),
  .main-container>div:first-child {
    grid-row: span 1;
  }
}

@media (max-width:510px) {
  .main-container {
    margin-bottom: 40vh;

    margin-left: 0vw;
  }
}
