.skills-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 10fr 1fr;

  min-height: 30vh;
}

.skills-container>button {
  height: 100%;

  background: transparent;
  border: none;

  transition: all 0.3s ease-out;
}

.skills-container>button:hover {
  background-color: rgb(0, 0, 0, .3);
  cursor: pointer;
}

.skills-container>button:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.skills-container>button:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.skills-container img {
  width: 30px;
  height: 30px;
}

.skills-container>div>div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;

  grid-auto-rows: 1fr;

  justify-content: center;
  align-items: center;
  text-align: center;
}

.skills-container>div img {
  display: block;

  width: 60px;
  height: 60px;

  margin-left: auto;
  margin-right: auto;
}

.skills-container>div {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;

  width: 100%;
  height: 100%;
}

#etc {
  width: 30px;
  height: 30px;
}

@media (max-width: 860px) {
  .skills-container>div img:not(#etc) {
    width: 50px;
    height: 50px;
  }

  #etc {
    width: 20px;
    height: 20px;
  }

  .skills-container>button>img {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 560px) {
  .skills-container>div img:not(#etc) {
    width: 35px;
    height: 35px;
  }

  #etc {
    width: 15px;
    height: 15px;
  }

  .skills-container {
    min-height: 50vh;
  }

  .skills-container h1 {
    font-size: 3vh;
  }

  .skills-container>button>img {
    width: 20px;
    height: 20px;
  }
}
